$primary-color: #e91e63;

html {
    /* background-color: ghostwhite; */
    font-size: 14px;

    h2 {
        margin: 0;
    }

    #gh-icon:hover {
        color: $primary-color
    }

    p b {
        color: $primary-color
    }

}

@media (max-width: 475px) {
    html {
        font-size: 11px
    }
}

@media (max-width: 700px) {
    html {
        font-size: 12px
    }
}

@media (min-width: 1080px) {
    div#main-container {
        margin: 1rem 10%;
        display: grid;
        grid-template-columns: 6fr 5fr;

        div#controls-container {
            grid-column-start: 1;
            grid-column-end: 1;
        }

        div#graph-container {
            margin: 1rem;
            grid-column-start: 2;
            grid-column-end: 2;

            div#fixed {
                display: flex;
                flex-direction: column;
                height: 100%;

                div#graph {
                    flex-grow: 1;
                }
            }
        }
    }
}