html {
  font-size: 1vw;
}

.App {
  text-align: center;
  font-size: 0.7rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

a#github-redirect {
  color: black;
  position: fixed;
  top: 3%;
  right: 2%;
  font-size: 20px;
  transition: 0.2s;
}

a#github-redirect:hover {
  color: crimson;
  font-size: 22px;
  transition: 0.2s;
}

fieldset {
  margin: 0 20% 1rem 20%;
  padding: 0 3rem 1rem 3rem;
  border-radius: 30px;
}

.rangeInput {
  width: 100%;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 0.75rem;
}

em {
  font-style: normal;
  font-weight: bold;
  color: crimson;
}

input[type=number] {
  font-weight: bold;
  font-size: 0.7rem;
  color: crimson;
}

#graph {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 20%;
  width: 50%;
  height: 30%;
  margin-bottom: 2rem;
}

button.paramLockToggle {
  background-color: ghostwhite;
  border: line;
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 20%;
}

button.paramLockToggle:hover {
  background-color: lightgoldenrodyellow;
}

div#message {
  font-weight: bold;
  border: gray;
  border-style: solid;
  width: fit-content;
  padding: 1rem;
  border-radius: 30px;
}

div.paramContainer {
  margin-top: 1rem;
}