$primary-color: #e91e63;

html {
    /* background-color: ghostwhite; */
    font-size: 14px;

    h2 {
        margin: 0;
    }

    #gh-icon:hover {
        color: $primary-color
    }

    p b {
        color: $primary-color
    }

    /* TODO: come up with a better sizing strategy for graphs (mobile vs. desktop) */
    div#graph {
        height: 400px;
    }
}

@media (max-width: 475px) {
    html {
        font-size: 11px
    }
}

@media (max-width: 700px) {
    html {
        font-size: 12px
    }
}